@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Albert Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
    transition: 0.3s ease-in-out;
    background-color: white;
}

html, body {
    width: 100%;
    height: 100%;
}

/* nav */

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 70px;
}

nav a {
    height: 100%;
    padding: 10px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

.navlinks, .linked-in {
    font-size: 20px;
}

.linked-in {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    cursor: pointer;
}

.navlinks:hover {
    cursor:pointer;
}

nav li:first-child {
    margin-right: auto;
}

.navlinks a {
    position: relative; 
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.navlinks a::after {
    content: ''; 
    position: absolute;
    bottom: 10px;
    left: 18%;
    width: 0;
    height: 2px; 
    background-color: black; 
    transition: width 0.45s ease; 
}

.navlinks a:hover::after {
    width: 65%;
}

.navlinks a:hover {
    color: black; 
}

.logo {
    font-size: 30px;
}

.mobilebar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    transition: right 0.75s ease;
}

.mobilebar.active {
    right: 0;
}

.mobilebar li {
    width: 100%;
}

.mobilebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

#mobilebar-active {
    display: none;
}

/* introduction */

#introduction {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio {
    width: 80%;
}

.nice {
    font-size: 40px;
    font-weight: 700;
 }

 .about-me {
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
 }

 .about-p {
    font-size: 16px;
    margin-top: 40px;
    width: 70%;
 }

 .journey {
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
 }

 .sport {
    margin-top: 40px;
    font-size: 16px;
    width: 70%;
 }

 .designer {
    margin-top: 40px;
    font-size: 16px;
    width: 70%;
 }

.bio-pic {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.pic {
    width: 50%;
}

.pic img{
    width: 100%;
    height: auto;
}

/* hobbies */

#my-hobbies {
    margin-bottom: 80px;
}

.hobbies {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
 }

 .soccer-fashion-anime {
    display: flex;
    margin-top: 40px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    gap: 30px;
    text-align: center;
 }

.soccer, .fashion, .anime {
    width: 22%;
}

.soccer-p, .fashion-p, .anime-p {
    margin-top: 20px;
}

 .soccer- {
    font-size: 18px;
    font-weight: 500;
 }

 .fashion- {
    font-size: 18px;
    font-weight: 500;
 }

 .anime-manga {
    font-size: 18px;
    font-weight: 500;
 }

.gaming-music {
    display: flex;
    margin-top: 30px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    gap: 40px;
    text-align: center;
}

.gaming, .music {
    width: 22%;
}

.gaming-p, .music-p {
    margin-top: 20px;
}

 .gaming- {
    font-size: 18px;
    font-weight: 500;
 }

 .music- {
    font-size: 18px;
    font-weight: 500;
 }

 /* footer */

 .f-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(122,134,152);
}

.f-links {
    margin-top: 35px;
    display: flex;
    gap: 27px;
    font-size: 20px;
    color: white;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}

.f-links li a{
    list-style: none;
    list-style-type: none;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    color: white;
}

.copy {
    font-size: 17px;
    color: white;
    margin-top: 25px;
    margin-bottom: 35px;
}