/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Albert Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
    transition: 0.3s ease-in-out;
}

/* nav */

nav, .nav-links {
    display:flex;
    cursor: pointer;
}

.logo {
    font-size: 3rem;
    margin-right: 355px;
}

nav {
    color: black;
    justify-content: space-around;
    align-items: center;
    height: 12.5vh;
}

.nav-links{
    font-size: 1.5rem;
    list-style: none;
    gap: 2rem;
}

a {
    color: black;
    text-decoration: none;
}

.nav-links a:hover {
    color: black;
    text-decoration: underline;
    text-underline-offset: .75rem;
    cursor:pointer
}

.nav-links .fa-brands {
    font-size: 24px;
}

/* Hamburger Menu */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 15px;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px); 
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0; 
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px); 
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

 /* Intorduction */

 .nice {
    margin-top: 80px;
    margin-left: 170px;
    font-size: 40px;
    font-weight: 700;
 }

 .about-me {
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 170px;
 }

 .about-p {
    font-size: 16px;
    margin-top: 40px;
    margin-left: 170px;
    width: 40%;
 }

 .journey {
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
    margin-left: 170px;
 }

 .sport {
    margin-top: 40px;
    font-size: 16px;
    margin-left: 170px;
    width: 40%;
 }

 .designer {
    margin-top: 40px;
    font-size: 16px;
    margin-left: 170px;
    width: 40%;
 }

 .hobbies {
    font-size: 20px;
    font-weight: 600;
    margin-top: 100px;
    text-align: center;
 }

 .soccer-fashion-anime {
    display: flex;
    margin-top: 40px;
    width: 75%;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    gap: 80px;
    text-align: center;
    margin-left: 158px;
 }

.soccer, .fashion, .anime {
    width: 25%;
}

.soccer-p, .fashion-p, .anime-p {
    margin-top: 20px;
}

 .soccer- {
    font-size: 18px;
    font-weight: 500;
 }

 .fashion- {
    font-size: 18px;
    font-weight: 500;
 }

 .anime-manga {
    font-size: 18px;
    font-weight: 500;
 }

.gaming-music {
    display: flex;
    margin-top: 30px;
    width: 75%;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    gap: 80px;
    text-align: center;
    margin-left: 158px;
}

.gaming, .music {
    width: 25%;
}

.gaming-p, .music-p {
    margin-top: 20px;
}

 .gaming- {
    font-size: 18px;
    font-weight: 500;
 }

 .music- {
    font-size: 18px;
    font-weight: 500;
 }

/* footer */

#footer {
    background-color: rgb(122,134,152);
    color: white;
    margin-top: 25px;
}


.footer- {
    color: white;
    padding-top: 16px;
}

.footer_1 {
    font-size: 32px;
    margin-bottom: 10px;
    margin-left: 123px;
    cursor: text;
}

.footer_2 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 123px;
    cursor: text;
}

.the-logos {
    margin-left: 123px;
    cursor: pointer;
    display: flex;
    gap: 8px;
}

.fa-brands {
    font-size: 32px;
}

.fa-solid {
    color: white;
    font-size: 32px;
}

.footer_3 {
    font-size: 20px;
    cursor: text;
    margin-left: 800px;
}

.bottom-row {
    display: flex;
    padding-bottom: 16px;
}