@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Albert Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
    transition: 0.3s ease-in-out;
}

html, body {
    width: 100%;
    height: 100%;
}

/* nav */

nav {
    background-color: white;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 70px;
}

nav a {
    height: 100%;
    padding: 10px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

.navlinks, .linked-in {
    font-size: 20px;
}

.linked-in {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    cursor: pointer;
}

.navlinks:hover {
    cursor:pointer;
}

nav li:first-child {
    margin-right: auto;
}

.navlinks a {
    position: relative; 
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.navlinks a::after {
    content: ''; 
    position: absolute;
    bottom: 10px;
    left: 18%;
    width: 0;
    height: 2px; 
    background-color: black; 
    transition: width 0.45s ease; 
}

.navlinks a:hover::after {
    width: 65%;
}

.navlinks a:hover {
    color: black; 
}

.logo {
    font-size: 30px;
}

.mobilebar {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    transition: right 0.75s ease;
}

.mobilebar.active {
    right: 0;
}

.mobilebar li {
    width: 100%;
}

.mobilebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

#mobilebar-active {
    display: none;
}

/* begin */

#begin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    margin-top: 30px;
}

.preview-container {
    padding-top: 20px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preview-container img {
    max-width: 85%;
    height: auto;
    border-radius: 15px;
}

.tags {
    display: flex;
    gap: 18px;
    margin-top: 20px;
    font-size: 18px;
}

/* overview */

#overview {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.overview {
    width: 80%;
}

.overview-t {
    font-size: 28px;
    font-weight: 600;
}

.overview-p {
    margin-top: 20px;
    font-size: 18px;
}

/* context */

#context {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.context {
    width: 80%;
}

.context-0 {
    font-size: 28px;
    font-weight: 600;
}

.context-1, .context-2 {
    margin-top: 20px;
    font-size: 18px;
}

/* problem/solution */

#problem-solution {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
}

.problem, .solution {
    border: 1px solid #000; 
    padding: 20px;
    width: 30%; 
    height: 350px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
}

.problem-1, .solution-1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px; 
    text-align: center;
}

.problem-list ol, .solution-list ol {
    margin: 0;
    padding: 0;
    list-style-position: inside; 
}

.problem-list ol li, .solution-list ol li {
    margin-bottom: 10px; 
    line-height: 1.5; 
}

.problem-list, .solution-list {
    flex-grow: 1;
}

/* research */ 

#research {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.starter {
    width: 80%;
}

.research-0 {
    font-size: 28px;
    font-weight: 600;
}

.research-1 {
    margin-top: 20px;
    font-size: 18px;
}

.andrew-alan {
    display: flex;
    width: 80%;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.andrew-alan img {
    width: 45%;
}

.kelly {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.kelly img {
    width: 45%;
    margin-top: 20px;
}

.research-2 {
    width: 80%;
    font-size: 18px;
    margin-top: 20px;
}

.affinity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 20px;
}

.affinity img {
    width: 80%;
}

.research-3 {
    width: 80%;
    font-size: 18px;
    margin-top: 20px;
}

.user-persona {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 20px;
}

.user-persona img {
    width: 40%;
    border: 1px solid black;
}

/* early ideation */ 

#early-ideation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.early-1, .early-2 {
    width: 80%;
}

.early-1 {
    font-size: 28px;
    font-weight: 600;
}

.early-2 {
    font-size: 18px;
    margin-top: 20px;
}

.slide-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 80%;
}

.slide-0 img {
    width: 50%;
}

.early-3, .early-4 {
    width: 80%;
    font-size: 18px;
}

.early-3 {
    margin-top: 20px;
}

.early-4 {
    margin-top: 20px;
}

.slide-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
}

.slide-1 img {
    width: 100%;
}

.early-5 {
    width: 80%;
    font-size: 18px;
    margin-top: 20px;
}

.slide-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
}

.slide-2 img {
    width: 100%;
}

.early-6 {
    width: 80%;
    margin-top: 20px;
    font-size: 18px;
}

.top-1, .top-2, .top-3 {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    margin-top: 20px;
}

.slide-3, .slide-4, .slide-5{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
}

.slide-3 img, .slide-4 img, .slide-5 img {
    width: 100%;
}

#final-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.letter-0, .letter-1 {
    width: 80%;
}

.letter-0 {
    font-size: 28px;
    font-weight: 600;
}

.letter-1, .letter-2, .letter-3, .letter-4, .letter-5 {
    font-size: 18px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.design-1, .design-2, .design-3, .design-4, .design-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
}

.design-1 img, .design-2 img, .design-3 img, .design-4 img, .design-5 img{
    width: 100%;
}

#takeaways {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.take-0 {
    width: 80%;
    font-size: 28px;
    font-weight: 600
}

.take-1, .take-2, .take-3 {
    width: 80%;
    font-size: 18px;
    margin-top: 20px;
}

.take-3 {
    margin-bottom: 80px;
}

/* footer */

.f-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(122,134,152);
}

.f-links {
    margin-top: 35px;
    display: flex;
    gap: 27px;
    font-size: 20px;
    color: white;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}

.f-links li a{
    list-style: none;
    list-style-type: none;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    color: white;
}

.copy {
    font-size: 17px;
    color: white;
    margin-top: 25px;
    margin-bottom: 35px;
}

